@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
     font-family: "ProximaLight";
     src: url("./assets/fonts/proxima_ssv/Proxima_Nova_Alt_Light.otf");
}

@font-face {
     font-family: "ProximaBold";
     src: url("./assets/fonts/proxima_ssv/Proxima_Nova_Bold.otf");
}

:root {
     font-family: "ProximaLight", cursive;
     --main-bg-color: rgba(27, 20, 100, 0.8);
     --secondary-bg-color: rgba(70, 28, 173, 1);
     --main-bg-color-hover: rgba(27, 20, 100, 0.3);
     --main-green-color: #459A33;
     --main-text-color: rgba(70, 28, 173, 1);
     --gray-color: #F2F2F2;
     --secondary-text-color: rgba(80, 229, 230, 1);
     --inmersys-bg-color: #0D0C26;
}

.main-bg-color {
     background-color: var(--main-bg-color);
}

.main_gray-bg-color {
     background-color: var(--gray-color);
     font-family: ProximaLight;
}

.inmersys-bg-color {
     background-color: var(--inmersys-bg-color);
}

.secondary_bg-color {
     background-color: var(--secondary-bg-color);
}

.main-green_bg-color {
     background-color: var(--main-green-color);
}

.main_font_light {
     font-family: ProximaLight;
}

.main_text_shadow {
     text-shadow: 1px 0px 2px rgba(0, 0, 0, 1);
}

.main_font_bold {
     font-family: ProximaBold;
}

.secondary_font_light {
     font-family: Roboto;
}

.main_bg-modal {
     background: rgba(0, 0, 0, 0.5);
}

.main_bg-color_hover:hover {
     background-color: var(--main-bg-color-hover);
}

.main_text-color {
     color: var(--main-text-color);
}

.secondary-text-color {
     color: var(--secondary-text-color);
}

.main_linear-gradient {
     background: #1B1464 linear-gradient(180deg, rgba(27, 20, 100, 0.8) 0%, rgba(70, 28, 172, 0.8) 93.75%);
}

.secondary_linear-gradient {
     background: #1B1464, linear-gradient(180deg, #1B1464 10%, #461CAD 100%);
}

.dropdown:hover .dropdown-menu {
     display: block;
}


/* Utilities */

.min-width6rem {
     min-width: 6rem;
}

.min-width8rem {
     min-width: 6rem;
}

.h-30rem {
     height: 30rem;
}

.border-1 {
     border: solid 1px rgba(0, 0, 0, 0.8)
}

.border-1_white {
     border: solid 1px rgba(255, 255, 255, 0.8)
}

.z--100 {
     z-index: -100;
}


/* Login */

.shadow-login {
     -webkit-box-shadow: 0px 0px 116px -42px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 0px 0px 116px -42px rgba(0, 0, 0, 0.75);
     box-shadow: 0px 0px 116px -42px rgba(0, 0, 0, 0.75);
}

.main_login-image {
     background-color: rgba(70, 28, 172, 0.8);
     background-image: url('./assets/logincms.jpg');
     background-blend-mode: multiply;
     background-size: cover;
}

.preload {
     background-color: white;
     background-image: url('./assets/LogoInmer.png');
     background-blend-mode: multiply;
     background-size: cover;
}

.main_login_landing-image {
     background-color: rgba(70, 28, 172, 0.8);
     background-image: url('./assets/loginImage.jpg');
     background-blend-mode: multiply;
     background-size: cover;
}

.main_login_landing-image_fixed {
     background-color: rgba(70, 28, 172, 0.8);
     background-image: url('./assets/loginImage.jpg');
     background-blend-mode: multiply;
     background-size: cover;
     background-attachment: fixed;
}

.form-group {}


/* Animaciones */

.animate__bounceInRight {
     animation-name: animate__bounceInRight;
     animation-duration: 0.8s;
     animation-timing-function: linear;
}

.animate__spinScale {
     animation-name: spin;
     animation-duration: 2s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-fill-mode: forwards;
     animation-direction: alternate;
}

.animate__fadein {
     animation-name: fadein;
     animation-duration: 0.5s;
     animation-timing-function: linear;
     animation-fill-mode: forwards;
}

.push:active {
     animation: push 0.3s linear 1;
}

.animate__goLeft {
     animation-name: goLeft;
     animation-duration: 0.2s;
     animation-timing-function: linear;
     animation-fill-mode: forwards;
}

@keyframes animate__bounceInRight {
     from {
          right: -100%;
     }
     to {
          right: 0;
     }
}

@keyframes spin {
     from {
          transform: rotate(0deg) scale(0.9);
     }
     to {
          transform: rotate(360deg) scale(1.3);
     }
}

@keyframes fadein {
     from {
          opacity: 0;
     }
     to {
          opacity: 1;
     }
}

@keyframes goLeft {
     from {
          width: 15rem;
     }
     to {
          width: 4rem;
     }
}

@keyframes push {
     50% {
          transform: scale(0.9);
     }
}


/* Custom csss */

.bottom-search_custom {
     margin-bottom: -1rem;
}


/* Para los cards del landing */

.min-height-20rem {
     min-height: 20rem;
     height: 20rem;
}

.auto-rows-custom {
     grid-auto-rows: minmax(20rem, 25rem);
}


/* Checkboxes dashboard */

input[type="checkbox"] {
     border-radius: 6px;
     border-color: var(--main-bg-color);
     width: 20px;
     height: 20px;
}


/* Loaders */

.lds-grid {
     display: inline-block;
     position: relative;
     width: 50px;
     height: 50px;
     transform: scale(0.4);
}

.lds-grid div {
     position: absolute;
     width: 16px;
     height: 16px;
     border-radius: 50%;
     background: rgba(130, 226, 228, 1);
     animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
     top: 8px;
     left: 8px;
     animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
     top: 8px;
     left: 32px;
     animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
     top: 8px;
     left: 56px;
     animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
     top: 32px;
     left: 8px;
     animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
     top: 32px;
     left: 32px;
     animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
     top: 32px;
     left: 56px;
     animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
     top: 56px;
     left: 8px;
     animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
     top: 56px;
     left: 32px;
     animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
     top: 56px;
     left: 56px;
     animation-delay: -1.6s;
}

@keyframes lds-grid {
     0%,
     100% {
          opacity: 1;
     }
     50% {
          opacity: 0.5;
     }
}